@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_search {
  width: 360px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  font-weight: 400;
  outline: none;
}

.input_search:hover {
  border: 1px solid #000000;
}

.input_search:focus {
  border: 1px solid #4e75ff;
}

form button {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}


form button:hover,
.load-more:hover {
  background-color: #6c8cff;
}

.gallery {
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  list-style: none;
  padding: 0;  
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #808080;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: calc(200px - 48px);
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}


.gallery-info {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin: 0;
  list-style: none;
  font-size: 12px;
  color: #2e2f42;
  background-color: #fafafa;
}

.gallery-info li span:first-child {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.64px;
}

.gallery-info li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  margin-top: 16px;
  font-size: 16px;
  color: #2e2f42;
  text-align: center;
}

.is-hidden {
  display: none;
}

.load-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
}
